
/*  =============== Stilização Inicial do CSS  ============================== */ 

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Book Antiqua", serif;

 /* font-family: Arial, Helvetica, sans-serif;  */
}

/*  =================== Stilização do HEADER  ================================ */

header{
    background-color: #111;
    padding: 8vmax;    
}

.navegation ul{
    display: flex;
    justify-content: end;
    gap: 20px;
}

.navegation a{
    color: #fff;
    text-decoration: none;
    display: inline-block; /* Garante que as propriedades de transformação funcionem */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Adicionando transição */

}

.navegation a:hover,
.navegation a:focus{
    color: #9b9b97;
    transform: scale(1.1); /* Aumenta em 10% ao passar o mouse */
    box-shadow: 0 0 10px rgba(230, 214, 214, 0.3); /* Adiciona sombra */
    
}

/* ======================  Chamei para stilizar a section-init  =============================  */

.section-init{
    background-color: #b7b7b7;
    color: #fff;
    text-align: center;    
    padding: 10vmax;
    font-size: 20px;
}
/* ======================  Chamei para stilizar o Treinamento TW   =============================  */
.section-init h2{    
    font-size: 3em;
    margin-top: 20px;
}

/* ======================Chamei para stilizar o botão saiba mais... ===========================  */

    
.section-init button {
    cursor: pointer;
    width: 150px; /* Reduz a largura do botão */
    height: 40px; /* Reduz a altura do botão */
    transition: transform 0.3s ease;
    font-size: 18px; /* Diminui o tamanho da fonte */
    margin-top: 30px;
    padding: 5px 10px; /* Ajusta o preenchimento interno */
    background-color: transparent;
    border-radius: 20px;
  }
  
  .section-init button:hover,
  .section-init button:focus {
    background-color: #6e6666;
    border-color: #b8b6b6;
    color: #181212;
    transform: scale(1.1);
  }
  

 /* ====================  fim da stilização do botão saiba Mais...  ========================  */

#img-division{
    display: block;
    padding: 2rem;
    background: url(imgs/Background2.png);
    opacity: 70%;
    background-repeat: no-repeat; /* Evita repetição da imagem */
    background-size: cover; /* Faz a imagem ocupar todo o espaço do elemento */
    background-position: center; /* Centraliza a imagem no elemento */
  
}

.section-content div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 3rem;    
}

.section-content h2{
    width: 100%;
    font-size: 1.5em;
    text-align: left; /* Alinha o texto à esquerda */
    
}

.text{
    width: 40%;
    
}

.text p {
    font-size: 1.2em;
    margin-top: 30px;
    margin: 5 auto; /* Define margens automáticas para centralizar horizontalmente */
    max-width: 150%; /* Define a largura máxima do parágrafo */
  }
.box-img01 {
    float: right; /* Move a imagem para a direita */
    width: 38%; /* Largura do elemento em relação ao seu contêiner */
    height: auto; /* Altura será ajustada automaticamente para preservar a proporção da imagem */
    max-width: 100%; /* Evita que a imagem ultrapasse a largura do contêiner */
    margin: -90px; /* Define margem automática */
    margin-top: 30px;
  }
  



.box-img {
    width: 38%; /* Largura do elemento em relação ao seu contêiner */
    height: auto; /* Altura será ajustada automaticamente para preservar a proporção da imagem */
    max-width: 100%; /* Evita que a imagem ultrapasse a largura do contêiner */
    margin: 5px; /* Define margem automática para centralizar horizontalmente */
  }


.section-content img{
    width: 35vmax;    
    height: 30vmax;
}

.section-end{
    padding: 15vmax;
    background: url(imgs/Background.svg) no-repeat;
    background-size: cover;    
}

.section-end h2{
    font-size: 4.2em;
    font-weight: 500;
    color: #fff;    
    width: 50%;
    margin-left: 45%;
    text-align: center;
}

/* ==========================   Stilizando o FOOTER  =============================== */

footer{
    padding: 2rem;
    background-color: #6b6969;  
}



.ft-contact ul{
    font-size: 22px;
    display: grid;
    grid-template-columns: 2fr 2fr;  
    gap: 10px;
    
}

.list-footer{
    display: flex;
    
    
 }

 .item-menu-footer {
    margin-top: 3%; 
    display: flex;
    justify-content: center; /* Alinha as listas horizontalmente */
    
 }

 .item-menu-footer p {
    margin-left: 0.5em;
    align-items: center;
 }
 
 /* =================================   The  End  =====================================  */